sudo: required
dist: trusty
group: edge

services:
- docker

env:
- TTIO_BUILD_ENV=production

notifications:
  email: false

before_install:
- 'openssl aes-256-cbc -K $encrypted_b3a2ec95562f_key -iv $encrypted_b3a2ec95562f_iv -in data/timetabio-bot.enc -out data/timetabio-bot -d'
- docker login -p ${TTIO_DOCKER_PASSWORD} -u bot https://docker.ttio.cloud:5000

addons:
  ssh_known_hosts:
  - timetab.io

before_script:
- ./scripts/rake.sh

script:
- ./scripts/rake.sh test

before_deploy:
- chmod 600 $TRAVIS_BUILD_DIR/data/timetabio-bot
- ./scripts/

deploy:
  provider: script
  skip_cleanup: true

  script: ./scripts/deploy.sh

  on:
    tags: true
