sudo: required
dist: trusty
group: edge

services:
- docker

env:
- TTIO_BUILD_ENV=production

notifications:
  email: false

before_install:
- docker login -p ${TTIO_DOCKER_PASSWORD} -u bot https://docker.ttio.cloud:5000

addons:
  ssh_known_hosts:
  - timetab.io

before_script:
- ./scripts/rake.sh

script:
- ./scripts/rake.sh test

before_deploy:
- eval "$(ssh-agent -s)"
- openssl aes-256-cbc -K $encrypted_f4692d717c58_key -iv $encrypted_f4692d717c58_iv -in .travis/deploy_key.pem.enc -out .travis/deploy_key.pem -d
- chmod 600 .travis/deploy_key.pem
- ssh-add .travis/deploy_key.pem
- ./scripts/setup.sh

deploy:
  provider: script
  skip_cleanup: true

  script: ./scripts/deploy.sh

  on:
    tags: true
