<div class="page-wrapper -padding">
    <div class="flex-container -column -center-items">
        <a href="/" class="_margin-before _margin-after">
            <img src="/images/logo.svg" width="60px" height="60px"/>
        </a>

        <h1 class="basic-heading-a _margin-after">
            <translate>Request Beta Invite</translate>
        </h1>

        <section class="form-box">
            <p class="_margin-after">
                Thank you for your interest in timetab.io.
                We'll be sending out invitations real soon.
            </p>
            <p>
                To stay tuned you can follow us on <a href="https://twitter.com/timetabio" class="basic-link">Twitter</a>.
            </p>
        </section>
    </div>
</div>

