<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
        <meta name="csrf-token" content="" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans:400,400i,600,700" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/application.css" />
        <link rel="icon" href="/favicon.ico" />
        <title></title>
    </head>
    <body>
        <!--googleoff: all-->
        <noscript>
            <div class="page-banner">
                For full functionality it is necessary to enable JavaScript.
            </div>
        </noscript>
        <div class="page-banner" id="outdated-browser" hidden>
            You are using an outdated browser. For full functionality update to a newer browser.
        </div>
        <!--googleon: all-->
        <header class="page-header">
            <div class="content">
                <div class="logo">
                    <a href="/" class="logo-link">
                        <img src="/images/text-logo.svg" height="20px" alt="timetab.io" />
                    </a>
                </div>

                <div class="search">
                    <form action="/search" class="search-form form" autocomplete="off">
                        <input type="search" name="q" placeholder="Search" class="input" />
                        <button class="button">
                            <svg class="icon">
                                <use xlink:href="/icons/search.svg#icon"></use>
                            </svg>
                        </button>
                    </form>
                </div>

                <div class="right">
                </div>
            </div>
        </header>
        <main>
        </main>

        <footer class="page-footer">

            <nav class="nav">
                <a href="https://twitter.com/timetabio" class="item basic-link">
                    <svg class="basic-icon -in-text -inline">
                        <use xlink:href="/icons/twitter.svg#icon" />
                    </svg>Twitter
                </a>
            </nav>

            <div class="logo">
                <img src="/images/mono-logo.svg" alt="timetab.io" class="image"/>
            </div>

            <div class="copyright">© 2017 timetab.io</div>

        </footer>

        <script src="/js/browser.js" async></script>
        <script src="/js/polyfills.js" defer></script>
        <script src="/js/application.js" defer></script>
    </body>
</html>
