<div class="page-wrapper -padding">
    <div class="flex-container -column -center-items">

        <a href="/" class="_margin-before _margin-after">
            <img src="/images/logo.svg" width="60px" height="60px"/>
        </a>

        <h1 class="basic-heading-a -margin-after">Thank You</h1>

        <section class="form-box _margin-after">
            <p class="_margin-after">
                Thank you for taking the time to fill out our survey.
            </p>

            <p class="_margin-after">
                We have approved your email for the private beta, so you can go ahead and
                <a href="/register" class="basic-link">Sign Up</a>.
            </p>

            <p>
                If you have any questions or feedback feel free to shoot us a mail at <a href="mailto:hey@timetab.io" class="basic-link">hey@timetab.io</a>.
            </p>
        </section>

        <p>
            tl;dr <a href="/register" class="basic-link">Create Account</a>
        </p>
    </div>
</div>
