<div class="page-wrapper -padding">
    <div class="flex-container -column -center-items">

        <a href="/" class="_margin-before _margin-after">
            <img src="/images/logo.svg" width="60px" height="60px"/>
        </a>

        <h1 class="basic-heading-a -margin-after">Account Verified</h1>

        <section class="form-box _margin-after">
            <p>
                Congratulations! Your account has been verified.
            </p>
        </section>

        <section>
            <p>
                Go ahead and <a href="/login" class="basic-link">Sign In</a>
            </p>
        </section>
    </div>
</div>

