<div class="page-wrapper -padding">
    <div class="flex-container -column -center-items">

        <a href="/" class="_margin-before _margin-after">
            <img src="/images/logo.svg" width="60px" height="60px"/>
        </a>

        <h1 class="basic-heading-a -margin-after">We're almost done</h1>

        <section class="form-box _margin-after">
            <p>
                Please proceed by clicking the link in the email we sent out to you.
            </p>
        </section>
    </div>
</div>

