<div class="page-wrapper -padding">
    <div class="flex-container -column -center-items">

        <a href="/" class="_margin-before _margin-after">
            <img src="/images/logo.svg" width="60px" height="60px"/>
        </a>

        <h1 class="basic-heading-a _margin-after">
            <translate>Sign in to timetab.io</translate>
        </h1>

        <form action="/action/login" method="post" is="ajax-form" class="form-box _margin-after">

            <label is="form-field" class="form-field -margin-after" input-name="email">
                <span class="label">
                    <translate>Username or Email</translate>
                </span>
                <input type="text" class="input basic-input" name="user" placeholder="peanut-butter"
                       autocomplete="email"/>
            </label>

            <label is="form-field" class="form-field -margin-after" input-name="password">
                <span class="label -with-help">
                    <translate>Password</translate>
                    <a class="basic-link help" href="/account/begin-reset">Forgot?</a>
                </span>
                <input type="password" class="input basic-input" name="password"
                       placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                       autocomplete="new-password"/>
            </label>

            <form-error class="form-error _margin-after"></form-error>

            <input type="hidden" name="next_uri" value="/" />

            <button type="submit" class="basic-button -full-width">
                <translate>Sign in</translate>
            </button>
        </form>

        <p>
            <translate>Don't have an account?</translate>
            <a href="/register" class="basic-link"><translate>Register</translate></a>
        </p>
    </div>
</div>
