<div class="page-wrapper -padding">
    <div class="flex-container -column -center-items">

        <a href="/" class="_margin-before _margin-after">
            <img src="/images/logo.svg" width="60px" height="60px"/>
        </a>

        <h1 class="basic-heading-a _margin-after">
            <translate>Resend Verification</translate>
        </h1>

        <form action="/action/resend-verification" method="post" is="ajax-form" class="form-box _margin-after">

            <label is="form-field" class="form-field -margin-after" input-name="email">
                <span class="label"><translate>Email</translate></span>
                <input type="email" required class="input basic-input" name="email" placeholder="peanut-butter@timetab.io"
                       autocomplete="email"/>
            </label>

            <form-error class="form-error _margin-after"></form-error>

            <button type="submit" class="basic-button -full-width" disabled>
                <translate>Resend Verification</translate>
            </button>
        </form>
    </div>
</div>
