<div class="page-wrapper -padding">
    <div class="flex-container -column -center-items">

        <a href="/" class="_margin-before _margin-after">
            <img src="/images/logo.svg" width="60px" height="60px"/>
        </a>

        <h1 class="basic-heading-a -margin-after">Congratulations!</h1>

        <section class="form-box _margin-after">
            <p class="_margin-after-s">
                You have successfully changed your password.
            </p>
            <p>
                Continue to <a href="/" class="basic-link">timetab.io</a>.
            </p>
        </section>

        <p>
            <translate>Go ahead and</translate>
            <a href="/login" class="basic-link"><translate>Sign In</translate></a>
        </p>
    </div>
</div>

